
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body{
    /* background-color: black; */


    /* background-image: url(../images/wireframe_background.png); */
    background-image: url(../images/wireframe_background_darken.png);
    background-color: black;
    background-blend-mode: screen;
    background-size: 50%;
    min-width: 400px;
    /* background: linear-gradient((rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */


}


header#top_banner{
    /* background-color: rgba(255,255,255, .7); */
    background: linear-gradient(90deg, rgba(255,145,0,1) 35%,rgba(0,0,0,.0) 50% ,rgba(255,178,0,1) 65%);
    box-shadow: 0 0 20px orange;

}
div#name_header{
    float:left;
    width: 20%;
    padding-left: 1em;
    padding-top: 1em;
}
div#name_header h1{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 2em;
}
div#name_header h2{
    text-indent: 1em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
}
header#top_banner img{
    width: 200px;
    margin:0 25%;
    background-color: #777777;
    border-radius: 20px;

}

nav#navigation_tab{
    position: absolute;
    right:10px;
    top: -1em;
    float:right;
    /* width:50%; */
}
nav#navigation_tab ol{
    list-style: none;
    padding-right: 1em;
    padding-top: 1em;
}
nav#navigation_tab ol li{
    text-align: right;
    margin: 1em 0;
}
nav#navigation_tab ol li a{
    text-decoration: none;
    color: white;
}
nav#navigation_tab ol li a:hover{
    text-decoration: none;
    color: black;
}



main{
    position: relative;

    margin: 4em;
    /* border: 3px solid red; */
    background-color: rgba(226, 156, 0, .8);
    border-radius: 10px;


}
main#album{
    max-width: 1800px;
}
main#album img{
    /* width: 300px; */
    margin: 1em;
}
/* main#album img:hover{
    box-shadow: 0 0 20px black;
    border: 1px solid #777777;
    border-radius: 6px;
} */
main#album div{
    float: left;
}
main#about_me_format{
    padding: 1em;



}
div#about_me_text{
    display: flex;
    align-items: center;
}
div#about_me_text img{
    border: 10px solid #FF9100;
    border-radius: 50%;
}
div#about_me_text img:hover{
    box-shadow: 0 0 20px black;
}
div#about_me_text p{
    margin: 52px;
    text-indent: 50px;
    font-family: 'Quicksand',sans-serif;
    font-size: 20px;
    line-height: 30px;
}

main#contact_info_text{
    padding: 1em;
    padding-bottom: 30em;
}
main#contact_info_text h1{
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
}
main#contact_info_text h2{
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    font-size: 1em;
    text-indent: 50px;
    text-align: center;
    margin-bottom: 1em;
}
main article#contact_info_article{
    padding: 1em;
}
article#contact_info_article div{
    padding: 10em 5em;
}
article div{
    border:2px solid #292929;
    border-radius: 5px;
}
article img{
    position: relative;
    float: right;
    top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:25%;
}
div h3{
    font-family: 'Quicksand',sans-serif;
    font-size: 1.5em;
    text-decoration:underline;
}
div#online_sites{
    float: left;
}
div#direct_contact{
    float: right;
}
article#contact_info_article ul{
    list-style: none;
    text-indent: 2em;

}
article#contact_info_article li a{
    color: white;
    text-decoration: none;
    font-family: 'Quicksand',sans-serif;
}
article#contact_info_article li a:hover{
    padding-top: 1em;
    color: black;
}
article#contact_info_article li{
    padding-top: 1em;
    color: black;
    font-family: 'Quicksand',sans-serif;
}

div#animated_video_main article{
    padding: 1em 2em;
    font-family: 'Quicksand',sans-serif;
}
div#animated_video_main article h1{
    font-size: 50px;
    text-align: center;
    text-decoration:underline;
}
div#animated_video_main article h2{
    font-size: 30px;
    padding: 20px 0;
}
div#animated_video_main article p{
    font-size: 20px;
    padding: 20px 0;
    text-indent: 30px;
}


main video{
    width:100%;
    padding: 2em;

    background-color: #777777;
}









.ten {
    width:10%;
}
.twenty{
    width:15%;
}
.twenty-five{
    width:25%;
}
.thirty{
    width:31.3%;
}
.thirty-three{
    width:33.333333333%
}
.forty{
    width:40%
}
.forty-five{
    width:45%;
}
.fifty{
    width:48%;
}
.sixty{
    width:60%;
}
.sixty-six{
    width:66.66666666666666;
}
.seventy{
    width:70%;
}
.seventy-five{
    width:75%;
}
.eighty{
    width:80%;
}
.ninety{
    width:90%;
}
.full{
    width:98%;
}

.clearall{
  clear:both;
}



footer#bottom_page_footer{
    background: #777777;
    display: block;
    padding-top: 20px;
    padding-bottom: 70px;
    box-shadow: inset 0 0 20px black;


}
footer p{
    float: left;
    margin-left: 50px;
    padding-top: 15px;
}
footer img{
    width:50px;
    position:relative;
    right:10px;
    bottom: 10px;
    float: right;
    background: #292929;
    border-radius: 10px;
}
footer img:hover{
    background: white;
}
footer a p{
    text-decoration: none;
    color: white;
}
